<% content_for :title, "Build Case" %>
<div class="row-fluid">
  <div class="span12 banner">
	<%= image_tag 'banners/other.jpg' %>
  </div>
</div> <!--/row -->

<h3>Define your organization</h3>

<%= render 'form' %>


