<% content_for :title, "Build Case" %>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banners/banner-specializ.png' %>
  </div>
</div> <!--/row -->

<h3>Define your organization</h3>

<%= render 'form' %>


