<% content_for :title, "Careers" %>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banners/banner-products.png' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
	<h3><%= t "careers.header1", default: "Join Us"%></h3>
    <p>
<%= t "careers.para1", default: "We are always looking for great people to join our team." %>
	</p>
  </div>

  
</div>
