<% content_for :title, "Libraries" %>
  <ul>
    <li>Basel II/III</li>
    <li>Solvency II</li>
    <li>ISO 27000</li>
    <li>ISO 14000</li>
    <li>ISO 31000</li>
    <li>COSO ERM</li>
    <li>COBIT 4/5</li>
    <li>FAS-133</li>
    <li>APRA</li>
    <li>AML/CT</li>
    <li>FATCA</li>
    <li>SSAE-16</li>
  </ul>
