<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banner-specializ.png' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
  	<p>
Specializ is an innovative web-based organizational knowledge-generation software application. 
It is designed to easily extract information from an organization's employees on topics of interest 
to the organization. Specializ allows organizations to utilize the knowledge stored within its 
greatest resource, its employees. It provides a simple method, using any logical subset of employees, 
to generate knowledge on any topic. A single topic may be sent to unlimited subsets of employees. 
In addition, managers can assign different levels, measured in percentages, of agreement for each 
subset of employees. Specializ is extremely easy to use, requiring very little time. It ensures the 
anonymity of the information collected thus increasing the likelihood users will respond both honestly 
and accurately. Guaranteeing the quality of your results is easy because Specializ allows managers 
to define minimum levels of agreement for all topics they manage. Due to its flexible design, 
Specializ allows managers to assign different agreement levels to any or all subsets of employees 
working on a topic. This functionality gives managers precise control over topic requirements.
Users, both employees and external contractors, are presented with the following tasks when using the system: 
  	</p>
  </div>
  <div class="span3">
  	
  </div>
</div>
