<% content_for :title, "Why Peoplenetz" %>
<div class="row-fluid">
  <div class="span12 banner">
	<%= image_tag 'banners/company.jpg' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
	<div class="row-fluid">
      <p>
<%= t "why_peoplenetz.para1", default: "In today’s global environment competition is fierce and competitive advantage can come from anywhere. Technology has become much more than just an organization’s software, its adaptation and correct usage has become a key differentiator and a driver for innovation and competitive advantage." %>
	  </p>
	</div>

	<div class="row-fluid">
      <p>
<%= t "why_peoplenetz.para2", default: "To gain and maintain an edge, organizations all around the world are using technology to fundamentally transform how their businesses run. Peoplenetz solutions do not simply enable customers to incrementally improve what they do but rather function in entirely new ways by minimizing the time spent on non-value-added activities and focusing on those activities that better their products and services and increase overall market share. With Peoplenetz your organization can be faster, leaner and more impactful than the competition." %>
	  </p>
	</div>

  </div> <!-- span -->
</div>
