html, body {
    background-color: #1B1B24 !important;
    color: #999BB8;
}

footer { 
	width: 100%; 
	min-width: 1024px; 
	background-color: #111116; 
	color:#999BB8;  
}

footer, footer p, footer a {
	color: #999BB8;
	font-size: 8pt !important;
}

footer ul, footer ol {
	margin: 0 !important;
	list-style-type: none;
}

footer li {
	line-height: 16px;
}

footer a:hover {
	background-color:transparent;
	color:#999BB8;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -180px; /* the bottom margin is the negative value of the footer's height */
	background-color: #1B1B24;
}

footer, .push {
	height: 180px; /* .push must be the same height as .footer */
}

h2.pnetz {
	font-size: 28px !important;
}

#social {
	margin: 5px auto 5px auto;
	text-align: right;
	height: 20px;
	width: 1024px;
	min-width: 1024px;
	display: block;
	background-color: #1B1B24 !important;
}

#social a img {
	margin-right: 0px;
}

#awesometagline {
	margin-bottom: 10px;
	height: 120px;
	width: 100%;
	background-color: #1B1B24;
}

#awesometagline a {
	background-color: transparent;
	font-family: arial;
	font-size: 36px;
	font-weight: medium;
	text-decoration: none;
	text-align: center;
	line-height: 120px;
	vertical-align: middle;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	color: #999BB8;
	width: 558px;
	display:block;
}

#awesometagline a:hover {
	text-decoration:underline;
}

#homepageicons {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 80px;
	width: 1024px;
	background-color: transparent;
	white-space:nowrap;
	margin-left: auto;
	margin-right: auto;
}

.banner img {
	/*padding-bottom: 7px;*/
}

.hpbox {
	color: #999BB8;
	position: relative;
	display: inline-block;
	margin-right: 7px;
}

.hpbox h2, .hpbox img {
	position: relative;
	float: left;
	background-color: transparent;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	color: #7973B9;
	padding-right: 5px;
}

.hpbox a {
	position: relative;
	float: left;
	background-color: transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: none;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	color: #e5e5e5;
}

.navbar {
	background-color: #1B1B24;
}

/* Navigation Bar */
.navbar-inner {
	background-color: #1B1B24;
	background-image: none;
	color: #F5F5F5;
	box-shadow:none;
}

.navbar-inner .container {
	width:1024px;
	min-width:1024px;
	margin-left:auto;
	margin-right:auto;
	background-color: #1B1B24;
} 

.banner-container {
    padding-top:70px;
    width:100%;
    min-width:1024px;
    background-color:#1B1B24;
    margin-bottom: 10px;
}

.banner-container .container {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

 .banner-container .container .wrap{
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 24px;
}

.banner-container .container .wrap span.comment{
  position:absolute;
  top: 35px;
  left: 200px;
  color:#AAA6D1;
  opacity:1.0; 
  z-index:8;
}

.banner-container .container .wrap:hover span.comment a{
  text-decoration: none;
  color: #ffffff;
}

.navbar .nav > li > a {
	color: #999BB8 !important;
	margin-right: 5px;
}

.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #7973B9 !important;
    text-decoration: none;
}

/* Navigation Bar */
.navbar .brand:hover {
	background-color: #1B1B24;
}

.form-button {
	background-color:#1B1B24; 
	border-top:none;
}

.simple_form {
	color: #7B7DA2;
}

.simple_form input, select, textarea {
	background-color: #1F1F29;
	border: solid thin #232334;
}


#smwrapper {
	margin-left:auto;
	margin-right:auto;
	height: 250px;
	width: 1024px;
	max-width: 1024px;
}

#sm1 {
	float: left;
	width: 193px;
	height: 230px;
	margin: 0 10px 0 0;
	padding-left: 7px;
}

#sm2 {
	float: left;
	width: 189px;
	height: 230px;
	margin: 0 10px 0 0;
	padding-left: 7px;
}

#sm3 {
	float: left;
	width: 189px;
	height: 230px;
	margin: 0 10px 0 0;
	padding-left: 7px;
}

#sm4 {
	float: left;
	width: 189px;
	height: 230px;
	margin: 0 10px 0 0;
	padding-left: 7px;
}

#sm5 {
	float: left;
	width: 189px;
	height: 230px;
	margin: 0 0 0 0;
	padding-left: 7px;
}

#smwrapper ul, #smwrapper ol {
	margin: 0 !important;
	list-style-type: none;
}

#smwrapper li {
	line-height: 16px;
}

.fonts-sitemap-title {
	font-family: arial;
	font-size: 12px;
	font-style: italic;
	text-align: left;
	color: #7973B9;
}

.fonts-sitemap, .fonts-sitemap li a {
	font-family: arial;
	font-size: 10px;
	color: #7B7DA2;
}

.fonts-sitemap li a:hover {
	color: #7973B9;
}

.control-label {
	color:#999BB8;
}