html, body {
    background-color: #272727 !important;
    color: #FFFFFF;
}

h2.pnetz {
	font-size: 28px !important;
	
}

#social {
	margin: 5px auto 5px auto;
	text-align: right;
	height: 20px;
	width: 1024px;
	min-width: 1024px;
	display: block;
	background-color: #272727 !important;
}

#social a img {
	margin-right: 0px;
}


#awesometagline {
	margin-bottom: 10px;
	height: 120px;
	width: 100%;
	min-width: 1024px;
	background-color: #dddddd;
	border-top: 1px solid #D0D0D0;
}

#awesometagline a {
	width: 1024px;
	background-color: transparent;
	font-family: arial;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	line-height: 120px;
	vertical-align: middle;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #000000;
}

#homepageicons {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 80px;
	width: 1024px;
	background-color: transparent;
	white-space:nowrap;
	margin-left: auto;
	margin-right: auto;
}

.hpbox {
	color: #FFFFFF;
	position: relative;
	
	display: inline-block;
	
}

.hpbox h2, .hpbox img {
	position: relative;
	float: left;
	background-color: transparent;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	color: #00B8E6;
}

.hpbox a {
	position: relative;
	float: left;

	background-color: transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: none;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	color: #e5e5e5;
}

.navbar {
	border-bottom: 1px solid #D0D0D0;
	background-color: #272727;
}

.navbar-inner {
	background-color: #dddddd;
	background-image: none;
	color: #000000;
}
.navbar .nav > li > a {
	color: #000000 !important;
}

.navbar .nav > li > a:hover {
    background-color: transparent;
    color: blue !important;
    text-decoration: none;
}

.navbar .brand:hover {
	background-color: #D8D8D8;
}

.form-button {
	background-color:transparent; 
	border-top:none;
}

.simple_form input, select, textarea {
	background-color: #202020;
	color: #FFFFFF;
}

div#sitemap {
	margin: 10 auto 10 auto;
	height: 250px;
	width: 100%;
	min-width: 1024px;
	background-color: #1A1A1A;
	color: #FFFFFF;
}

div#sitemap a {
	color: #FFFFFF;
}

#smwrapper {
	margin-left:auto;
	margin-right:auto;
	height: 250px;
	width: 1024px;
	max-width: 1024px;
}

#sm1 {
	float: left;
	width: 193px;
	height: 230px;
	margin: 0 10px 0 0;
	padding-left: 7px;
}

#sm2 {
	float: left;
	width: 189px;
	height: 230px;
	margin: 0 10px 0 0;
	padding-left: 7px;
}

#sm3 {
	float: left;
	width: 189px;
	height: 230px;
	margin: 0 10px 0 0;
	padding-left: 7px;
}

#sm4 {
	float: left;
	width: 189px;
	height: 230px;
	margin: 0 10px 0 0;
	padding-left: 7px;
}

#sm5 {
	float: left;
	width: 189px;
	height: 230px;
	margin: 0 0 0 0;
	padding-left: 7px;
}

#smwrapper ul, #smwrapper ol {
	margin: 0 !important;
	list-style-type: none;
}

#smwrapper li {
	line-height: 16px;
}
/*
div#footer {
	float: right;
	text-align: right;
	color: #232323;
	font-weight: bold;
	font-size: 10px;
	padding: 2px 4px 2px 0px;
	height: 14px;
	width: 1020px;
	max-width: 1020px;
}
*/

.fonts-sitemap-title {
	font-family: arial;
	font-size: 12px;
	font-style: italic;
	text-align: left;
	color: #00CCFF;
}

.fonts-sitemap {
	font-family: arial;
	font-size: 10px;
}

footer {
	color: #808080;
	font-size: 8pt;
}
