<% content_for :title, @solution%>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banner-peoplenetz.png' %>
  </div>
</div> <!--/row -->

<p>
  <b>Name:</b>
  <%= @solution.name %>
</p>

<p>
  <b>Description:</b>
  <%= @solution.description %>
</p>

<p>
  <b>Pnetz solution:</b>
  <%= @solution.pnetz_solution %>
</p>
